/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* css reset */
* {
	margin: 0;
	padding: 0;
}

/* body global styles */
body {
	font-family: 'Merriweather', 'Inter', serif;
}

/* container main layout style */
.container {
	width: 75%;
	max-width: 1600px;
	margin: 0 auto;
}

/* hero section styles */
.hero_section {
	background-image: url(../images/hero_bg.svg);
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1320px;
	height: 600px;
	margin: 50px auto;
}

.hero_tag {
	color: #fff;
	text-align: center;
	font-family: Merriweather;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.hero_title {
	color: #fff;
	text-align: center;
	font-family: Merriweather;
	font-size: 72px;
	font-style: normal;
	font-weight: 900;
	line-height: 95px;
}

/* offer section styles */
.offer_section {
	display: flex;
	justify-content: center;
	align-items: center;
}

.offer_content {
	text-align: center;
	margin: 70px auto;
}

.offer_heading {
	color: #f00;
	text-align: center;
	font-family: Inter;
	font-size: 88px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 48px;
}

.offer_title {
	color: #f00;
	text-align: center;
	font-family: Inter;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin-top: 16px;
}

.offer_button {
	color: #070211;
	text-align: center;
	font-family: Inter;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.offer_content img {
	width: 800px;
	height: 500px;
	margin: 48px auto;
}

/* welcome section styles */
.welcome_section {
	border: 3px solid red;
	background-color: rgb(27, 8, 8);
	background: url(../images/welcome_bg.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border: none;
	border-radius: 16px;
	padding: 120px;
}

.welcome_container {
	display: flex;
	gap: 160px;
	justify-content: center;
	align-items: center;
}

.welcome_title {
	color: #fff;
	font-family: Merriweather;
	font-size: 64px;
	font-style: normal;
	font-weight: 900;
	line-height: 88px;
	letter-spacing: 7.04px;
}

.welcome_description {
	color: rgba(255, 255, 255, 0.8);
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
	margin-top: 40px;
}

.welcome_button {
	color: #fff;
	text-align: center;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	background-color: transparent !important;
	border: none;
	text-decoration: none;
	margin-top: 48px;
	margin-left: 30px;
	cursor: pointer;
}

.welcome_image {
	width: 320px;
	height: 464px;
}

/* event section styles */
.event_section {
	margin-top: 110px;
	width: 1320px;
	height: 482px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(../images/event_bg.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 100px;
	border: none;
	border-radius: 16px;
}

.event_container {
	text-align: center;
}

.event_title {
	color: #070211;
	font-family: Inter;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: 56px;
	text-transform: capitalize;
}

.event_span {
	color: #f00;
	text-align: center;
	font-family: Inter;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: 56px;
	text-transform: capitalize;
}
.event_button {
	background: #f00;
	border: none;
	border-radius: 8px;
	padding: 16px 32px;
}
.event_button {
	color: #fff;
	text-align: center;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	margin-top: 48px;
}

/* coming soon styles */
.coming_soon_section {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.coming_soon_section div {
	width: 30%;
	padding: 10px;
	box-sizing: border-box;
}

.coming_soon_tag {
	color: #f00;
	font-family: Inter;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.coming_soon_title {
	color: #070211;
	font-family: Merriweather;
	font-size: 48px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	text-transform: capitalize;
	margin-bottom: 16px;
}

.coming_soon_description {
	color: rgba(7, 2, 17, 0.6);
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
	margin-bottom: 16px;
}

.coming_soon_year {
	color: #f00;
	font-family: Inter;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 16px;
}

.coming_soon_image_tag {
	width: 140px;
	height: 140px;
}

.coming_soon_image {
	width: 364px;
	height: 364px;
	border: 15px solid red;
	box-sizing: border-box;
	border-radius: 50%;
	padding: 30px;
}
